*.pyc
.project
.settings
.pydevproject
build-stamp
configure-stamp
dist
debian/files
debian/helixbilling.postrm.debhelper
debian/helixbilling.debhelper.log
debian/helixbilling.substvars
debian/helixbilling
